em_product
dropshipping
bs4
twisted
playwright
scrapy-playwright
scrapy-redis
scrapy
scrapy-random-ua
scrapy-webshare
python-dotenv
scrapyd-client
langdetect
elasticsearch==6.8.2
peewee
dateparser
celery
regex
pydantic_core
